<form action="/create" method="post">
        <h2>Create ToDo</h2>
        <div>
            <label  for="icon_prefix">Başlık Giriniz</label>
            <input id="icon_prefix" type="text" name="title">
        </div>
       
    <input type="submit" name="" id="" value="gönder">


</form>